<ion-header>
  <ion-navbar>
    <ion-title>
      Bienvenue !
    </ion-title>
  </ion-navbar>
  <ion-searchbar (ionInput)="getResults($event)"></ion-searchbar>
</ion-header>

<ion-content>

  <ion-list>

    <ion-item *ngIf="!(results | async)?.length">
      Pas de résultat
    </ion-item>

    <button ion-item *ngFor="let result of results | async" [navPush]="pushPage" [navParams]="{data_result: result}">
      <h1>{{result.title}}</h1>
      <p>{{result.release_date | date}}</p>
      <ion-thumbnail item-start *ngIf="result.poster_path">
        <img [src]="'http://image.tmdb.org/t/p/w154' + result.poster_path">
      </ion-thumbnail>
      <ion-thumbnail item-start *ngIf="!result.poster_path">
        <img src="https://cdn.pbrd.co/images/GXjnfnM.jpg">
      </ion-thumbnail>
    </button>

    <ion-item>
      <button (click)="showRandomMovieAlert([{title:'Avatar', overview:'Blabla'}])">Test random</button>
    </ion-item>

  </ion-list>
</ion-content>
