<ion-header>
  <ion-navbar>
    <ion-title>
      <br>Welcome
    </ion-title>
  </ion-navbar>
  <ion-searchbar (ionInput)="getResults($event)"></ion-searchbar>
</ion-header>

<ion-content>

  <ion-list>

    <ion-item *ngIf="!results.length">
      No results
    </ion-item>

    <button ion-item *ngFor="let result of results" [navPush]="pushPage" [navParams]="{data_result: result}">
      <h1>{{result.title}}</h1>
      <p>{{result.author}}, {{result.date}}</p>
      <ion-thumbnail item-start>
        <img src='{{result.image}}'>
      </ion-thumbnail>
    </button>

  </ion-list>
</ion-content>
